@charset "UTF-8";
body,p,div,input{margin: 0}

body{
	/*background-image: url("img/add_back.jpg");*/
	background-repeat:no-repeat;
	background-attachment:fixed;	/*背景画像をスクロールしないように固定*/
	background-position:center center; /*常に画像が中央に表示される*/
	background-size:cover;
}