@charset "UTF-8";

body,p,div,input{margin: 0}

body{
	background-image: url("img/normal.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;	/*背景画像をスクロールしないように固定*/
	background-position:center center; /*常に画像が中央に表示される*/
	background-size:cover;
}

#header{
	width:auto;
	text-align:center;
	padding:2px;
	dispaly:flex;
	background-image:url("img/black.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	color:#FFFFFF;
}

#LB{
	font-size:3em;
 	background: -webkit-linear-gradient(left, #FFFFFF,#BDBDBD,#000000);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	margin:0px 0px 0px 0px;
}

h4{
	text-align:right;
	margin:0px;
}

#menu{
	margin: auto auto;
}

input[type="button"]{
	width:300px;
	padding:50px;
	margin:40px ;
	font-size:20px;
	background-color:transparent;
	color:#000;
	font-size:30px;
	border-radius:10px;
	font-weight:bold;
	outline:0;
}