@charset "UTF-8";
body,p,div,input{margin: 0}

body{
	background-image: url("img/nikaido.png");
	background-repeat:no-repeat;
	background-attachment:fixed;	/*背景画像をスクロールしないように固定*/
	background-position:center center; /*常に画像が中央に表示される*/
	background-size:cover;
}

#title{
	width:auto;
	padding:2px;
	text-align:center;
	dispaly:flex;
	background-image:url("img/tea_header.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

h4{
	margin:0px 0px 0px 0px;
	text-align:right;
	color:white;;
}

.LB{
	font-size:3em;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color:#FFFFFF;
	margin:0px 0px 0px 0px;
}
.menu{
	margin: auto auto;
}

input[type="button"]{
	width:300px;
	padding:50px;
	margin:40px ;
	font-size:20px;
	background-color:transparent;
	color:#FFF;
	font-size:30px;
	border-radius:10px;
	font-weight:bold;
	outline:0;
}

input[type="button"]:hover{
	background-color: rgba(255, 255, 255, .2);
}

#id{
	windth:100px;
	padding:20px;
	font-size:14px;
}

#logout{
	padding: 80px 120px;
	 background: url(img/logout2.png) left top no-repeat;
	 border:none;
	outline:none;
}

