@charset "UTF-8";

body, p, div, input {
	margin: 0
}

body {
	background-image: url("img/nikaido.png");
	background-repeat: no-repeat;
	background-attachment: fixed; /*背景画像をスクロールしないように固定*/
	background-position: center center; /*常に画像が中央に表示される*/
	background-size: cover;
}

#title {
	margin: 0px 0px;
	width: auto;
	padding: 2px;
	text-align: center;
	dispaly: flex;
	background-image: url("img/tea_header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
}

h4 {
	margin: 0px 0px 0px 0px;
	text-align: right;
	color: white;;
}

#LB {
	font-size: 3em;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
}

#main {
	width: 1000px;
	margin: 10px auto 0px auto;
}

select {
	padding: 5px;
	font-size: 18px;
}

#frame {
	background-color: #fff;
}

#back {
	padding: 50px 50px;
	background: url(img/home_back.png) left top no-repeat;
	border: none;
	outline: none;
	cursor: pointer;
	cursor: hand;
}