@charset "UTF-8";

body, p, div, input {
	margin: 0
}

body {
	background-image: url("img/nikaido.png");
	background-repeat: no-repeat;
	background-attachment: fixed; /*背景画像をスクロールしないように固定*/
	background-position: center center; /*常に画像が中央に表示される*/
	background-size: cover;
}

#main {
	width: 1000px;
	margin: auto auto;
}

h2 {
	margin: 20px 0px 0px 0px;
}

select {
	padding: 5px;
	font-size: 18px;
}

#frame {
	background-color: #fff;
}